<h1><span style="font-size:16pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:11.0pt"><span style="font-family:&quot;Verdana&quot;,sans-serif">Zoektips voor gebruikers</span></span></span></span></h1>

<p><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:10.0pt"><span style="font-family:&quot;Verdana&quot;,sans-serif">Bij het zoekveld kunt je&nbsp; op de wijze van de zoekmachine Google zoeken: </span></span></span></span></p>

<ul>
	<li><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:10.0pt"><span style="font-family:&quot;Verdana&quot;,sans-serif">Er wordt met de opgegeven zoekterm gezocht in alle rubrieken van een persoon of gebruiker&nbsp; zoals naam, lidmaatschap, burgerlijke staat&nbsp; bevoegdheid, 2-staps verificatie, etc.</span></span></span></span></li>
	<li><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:10.0pt"><span style="font-family:&quot;Verdana&quot;,sans-serif">Je kunt meerdere woorden ingeven waaraan de te vinden gebruikers moeten voldoen. </span></span></span></span></li>
	<li><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:10.0pt"><span style="font-family:&quot;Verdana&quot;,sans-serif">Je kunt ook zoeken naar hele zinsdelen door ze tussen aanhalingstekens te plaatsen. Zinsdelen tussen dubbele aanhalingstekens ("zoals deze") zullen in zijn geheel gezocht worden. </span></span></span></span></li>
</ul>

<ul>
	<li><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:10.0pt"><span style="font-family:&quot;Verdana&quot;,sans-serif">Je kunt woorden uitsluiten van je zoekopdracht door een minteken ("-") gelijk voor het woord te plaatsen. (Denk eraan om een spatie voor het minteken te plaatsen.).<br />
	B.v.: dani –"den haag" . Dit geeft alle personen met dani in hun naam, die <u>niet</u> in Den Haag wonen.<br />
	Als je ook nog weet dat het een man is kun je b.v. daniëlle uitsluiten door in het zoekveld in te vullen: dani –"den haag" man</span></span></span></span></li>
</ul>

<ul>
	<li><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:10.0pt"><span style="font-family:&quot;Verdana&quot;,sans-serif">Een aantal rubrieken kunnen alleen als zinsdelen tussen aanhalingstekens bij algemeen gezocht worden; daarnaast zijn er ook rubrieken met speciale vaste waarden. Er zijn 3 alternatieven: tussen “”, ‘’ of zonder aanhalingstekens maar met _ i.p.v. een spatie. Bij IOS van Aplle zullen de laatste 2 het beste werken.</span></span></span></span></li>
	<li><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:10.0pt"><span style="font-family:&quot;Verdana&quot;,sans-serif">Lid: Zoeken op: “is lid” of “is geen lid”</span></span></span></span></li>
	<li><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:10.0pt"><span style="font-family:&quot;Verdana&quot;,sans-serif">Gedoopt: Zoeken op: “is gedoopt” of “is niet gedoopt”</span></span></span></span></li>
	<li><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:10.0pt"><span style="font-family:&quot;Verdana&quot;,sans-serif">Geslacht: Zoeken op “man” of “vtouw”</span></span></span></span></li>
	<li><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:10.0pt"><span style="font-family:&quot;Verdana&quot;,sans-serif">2-Staps verificatie: Zoeken of 2FA</span></span></span></span></li>
	<li><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:10.0pt"><span style="font-family:&quot;Verdana&quot;,sans-serif">Geblokkeerd: Zoeken op “geblokkeerd”</span></span></span></span></li>
	<li><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:10.0pt"><span style="font-family:&quot;Verdana&quot;,sans-serif">Burgerlijke staat: Zoeken op: </span></span></span></span>
	<ul>
		<li><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:10.0pt"><span style="font-family:&quot;Verdana&quot;,sans-serif">Ongehuwd</span></span></span></span></li>
		<li><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:10.0pt"><span style="font-family:&quot;Verdana&quot;,sans-serif">gehuwd</span></span></span></span></li>
		<li><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:10.0pt"><span style="font-family:&quot;Verdana&quot;,sans-serif">samenwonend</span></span></span></span></li>
		<li><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:10.0pt"><span style="font-family:&quot;Verdana&quot;,sans-serif">gescheiden</span></span></span></span></li>
		<li><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:10.0pt"><span style="font-family:&quot;Verdana&quot;,sans-serif">weduwnaar</span></span></span></span></li>
		<li><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:10.0pt"><span style="font-family:&quot;Verdana&quot;,sans-serif">weduwe</span></span></span></span></li>
		<li><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:10.0pt"><span style="font-family:&quot;Verdana&quot;,sans-serif">overleden</span></span></span></span></li>
	</ul>
	</li>
</ul>

<p><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif">&nbsp;</span></span></p>
