<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<!--
	=====================
		Templates/functionality/SelectedList.html
-->

<f:section name="content">
	<!--TYPO3SEARCH_end-->
	<f:if condition="{functionality}">
		<h5 ><f:if condition="{functionality.used}<1"><f:then><f:translate key="newfunction_title" /></f:then><f:else><f:translate key="editfunction_title" /></f:else></f:if></h5>
		<f:form action="saveFunctionality" object="{functionality}" name="functionality" id="saveForm" additionalAttributes="{autocomplete: 'off'}" >   
		<f:form.hidden id="stack" name="stack" value="{stack}"/>						
		<f:form.hidden name="no_cache" value="1"/>
		<f:form.hidden property="f_uid" />
		<f:form.hidden property="securitylevelold" />
		<div class="row">
			<div class="col-sm-2 mr-2"> 
				<label for="functionality-naam" class="font-weight-bold mr-2"><f:translate key="title" />:</label>
			</div>
			<div class="col">
				<f:if condition="{requiredpermission}==FALSE" >
				<f:then>
					<f:form.textfield class="form-control" id="functionality-naam" property="naam" maxlength="50" required="true"  />
				</f:then>
				<f:else>
					<f:form.textfield class="form-control" id="functionality-naam" property="naam" maxlength="50" readonly="true"  />
				</f:else>
				</f:if>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 mr-2"> 
				<label for="functionality-description" class="font-weight-bold mr-2"><f:translate key="description" />:</label>
			</div>
			<div class="col">
				<f:form.textarea class="form-control" id="functionality-description" property="omschrijving" rows="3"  required="true"  />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 mr-2"> 
				<label for="functionality-securitylevel" class="font-weight-bold mr-2"><f:translate key="securitylevel" />:</label>
			</div>
			<div class="col">
				<f:form.select  id="functionality-securitylevel"  property="securitylevel" >
				<f:form.select.option value="licht"><f:translate key="licht"/></f:form.select.option>
				<f:form.select.option value="middel"><f:translate key="middel"/></f:form.select.option>
				<f:form.select.option value="zwaar"><f:translate key="zwaar"/></f:form.select.option>
				</f:form.select>
			</div>
		</div>

		<div class="btn-toolbar mt-5">
			<f:if condition="!{adminfunc}">
				<f:form.submit additionalAttributes="{action: 'save'}" class="btn btn-primary mr-1" value="{f:translate(key:'changesave_button_label')}" title="{f:translate(key:'changesave_title')}" /> 
			</f:if>
			</f:form>
			<f:if condition="{{requiredpermission}==FALSE && {functionality.used}<1 && {functionality.f_uid}">
				<f:form action="deleteFunctionality" name="functionality" id="deleteForm">
				<f:form.hidden id="stack" name="stack" value="{stack}"/>
				<f:form.hidden name="no_cache" value="1"/>
				<f:form.hidden name="f_uid" value ="{functionality.f_uid}"/>
				<f:form.submit class="btn btn-primary mr-1" value="{f:translate(key:'delete_button_label')}" title="Functionaliteit verwijderen" /> 
				</f:form>
			</f:if>
			<f:form action="{return}" name="search" id="returnForm">
			<f:form.hidden id="stack" name="stack" value="{stack}"/>
			<f:form.hidden name="no_cache" value="1"/>
			<f:form.submit class="btn btn-primary mr-1" value="{f:translate(key:'return_button_label')}"/> 
			</f:form>
		</div>
	
	</f:if>		
<script language="JavaScript">
	$ = jQuery.noConflict();
	var selectedfunctionality = [];
	$('#functionality option:selected').each(function(){ selectedfunctionality.push($(this).index()); });
	
	boxchange = function(e,selectedgroup)
	{
		var selectedindex = e.selectedIndex;
		//check if new selected:
		ptr=selectedgroup.indexOf(selectedindex);
        if (ptr<0)
		{
			selectedgroup.push(selectedindex);
			selectedgroup.sort((a, b) => a - b);
		}
		else
		{
			selectedgroup.splice(ptr,1);
			e.options[ selectedindex ].selected = false;
		}
		$.each(selectedgroup,function(i,indexval){e.options[ indexval ].selected = true;	});
	}; 

</script>
	<!--TYPO3SEARCH_begin-->
			

</f:section>
</html>
