<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<!--
	=====================
		Templates/Persoon/SelectedList.html
-->

<f:section name="content">
<script>	
	var admin="{admingroup}";
	var ownuser="{ownuser}";
	var defaultusergroup="{defaultusergroup}";
</script>
	<f:if condition="{person}">
	<div class="vieweditUser-form">
		<h5 ><f:translate key="edituser_title" /></h5>
		<div class="row">
			<div class="col-md-3 mr-2"> 
				<label for="person-naam" class="font-weight-bold"><f:translate key="persoon" /></label>
			</div>
			<div id="person-naam" class="col form-group">
				<f:form action="detail" controller="Persoon" extensionName="churchpersreg" pluginName="PersoonDetail" pageUid="{pageuidperson}" name="search" id="detailForm">
				<f:form.hidden name="personid" id="detailFormpid" value="{personid}"/>
				<f:form.hidden id="stack" name="stack" value="{stack}"/>
				<f:form.hidden name="no_cache" value="1"/>
				<f:form.submit value="{person.naam},  {person.adres}" id="{person.person_id}" class="btn btn-link text-left text-wrap pl-0" title="<f:translate key='persoon.data'/>" />
				</f:form>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 mr-2"> 
				<label for="person-username" class="font-weight-bold"><f:translate key="persoon.username" /></label>
			</div>
			<div id="person-username" class="col">{person.username}</div>
		</div>
		<div class="row">
			<div class="col-md-3 mr-2"> 
				<label for="person-securitylevel" class="font-weight-bold"><f:translate key="persoon.securitylevel" /></label>
			</div>
			<div id="person-securitylevel" class="col">{person.securitylevel}</div>
		</div>
		<div class="row">
			<div class="col-md-3 mr-2"> 
				<label for="person-lastUpdPwd" class="font-weight-bold"><f:translate key="persoon.lastUpdPwd" /></label>
			</div>
			<div id="person-lastUpdPwd" class="col"><f:format.date format="%d-%m-%Y" date="{person.lastUpdPwd}" /></div>
		</div>
		<div class="row">
			<div class="col-md-3 mr-2"> 
				<label for="person-AantalMaalIngelogd" class="font-weight-bold"><f:translate key="persoon.AantalMaalIngelogd" /></label>
			</div>
			<div id="person-AantalMaalIngelogd" class="col">{person.AantalMaalIngelogd}</div>
		</div>
		<div class="row">
			<div class="col-md-3 mr-2"> 
				<label for="person-LstInlog" class="font-weight-bold"><f:translate key="persoon.LstInlog" /></label>
			</div>
			<div id="person-LstInlog" class="col">
			<f:if condition="{person.lstinlog}=='0000-00-00 00:00:00' ">&nbsp
			<f:else><f:format.date format="%d-%m-%Y" date="{person.lstinlog}" /></f:else>
			</f:if>
			</div>
		</div>
		<f:form action="saveUser" object="{person}" name="permission" id="saveForm" additionalAttributes="{autocomplete: 'off'}" >   
		<f:form.hidden id="stack" name="stack" value="{stack}"/>						
		<f:form.hidden property="feuser_uid" />
		<f:form.hidden name="no_cache" value="1"/>
		<div class="form-group">
		    <div class="form-check">
				<f:form.checkbox id="geblokkeerd" class="form-check-input" property="geblokkeerd" value="1" checked="{person.geblokkeerd}"/>
		    	<label class="form-check-label font-weight-bold" for="person-geblokkeerd"><f:translate key="persoon.geblokkeerd"/></label>
		    </div>
		</div>
		<div class="form-group">
		    <div class="form-check">
				<f:if condition="{person.txgoogleauthenabled}==1">
				<f:then>
					<f:form.checkbox id="txgoogleauthenabled" class="form-check-input" property="txgoogleauthenabled" value="1" checked="{person.txgoogleauthenabled}"  />
				</f:then>
				<f:else>
					<f:form.checkbox id="txgoogleauthenabled" class="form-check-input" property="txgoogleauthenabled" value="1" checked="{person.txgoogleauthenabled}" additionalAttributes="{disabled:'true'}" />
				</f:else>
				</f:if>
		    	<label class="form-check-label font-weight-bold" for="txgoogleauthenabled"><f:translate key="persoon.TwoFA"/></label>
		    </div>
		</div>
		<fieldset class="form-group border-primary border-1 pl-2"><legend class="w-auto text-primary"><f:translate key="usergroup_button_label" /></legend>
			<div class="row">
				<div class="col-sm form-group">
				<f:form.select id="usergroup" multiple="true" property="usergroup" size="16" options="{usergroups}" optionValueField="uid" optionLabelField="title"  onclick="boxchange(this,selectedusergroup);getpermissions();" />
				</div>
				<div class="col-sm text-wrap"> 
					<h5><f:translate key="persoon.correspondingpermissions" /></h5>
					<span id="resultingpermissions">
					<f:for each="{resultingpermissions}" as="permissie" >
						<p>{permissie.naam}</p>
					</f:for>
					</span>	
				</div>
			</div>
		</fieldset>
		
	</div>

	<div class="btn-toolbar">

		<f:form.submit additionalAttributes="{action: 'save'}" class="btn btn-primary mr-1" value="{f:translate(key:'changesave_button_label')}" title="Wijzigingen opslaan" /> 
		</f:form>
		<f:form action="{return}" name="search" id="returnForm">
		<f:form.hidden id="stack" name="stack" value="{stack}"/>
		<f:form.hidden name="no_cache" value="1"/>
		<f:form.submit class="btn btn-primary mr-1" value="{f:translate(key:'return_button_label')}"/> 
		</f:form>
		<f:form action="selectedListUsergroup" name="search" id="usergroupForm">
		<f:form.hidden id="stack" name="stack" value="{stack}"/>
		<f:form.hidden name="no_cache" value="1"/>
		<f:form.button class="btn text-primary border-0" title="{f:translate(key:'usergroup_select')}"><i class="fa fa-users fa-2x"></i></f:form.button>
		</f:form>
	</div>
	
	</f:if>		
<script language="JavaScript">
	$ = jQuery.noConflict();
	var selectedusergroup = [];
	$('#usergroup option:selected').each(function(){ selectedusergroup.push($(this).index()); });
	
	boxchange = function(e,selectedgroup)
	{
		var selectedindex = e.selectedIndex;
		//check if new selected:
		ptr=selectedgroup.indexOf(selectedindex);
        if (ptr<0)
		{
			selectedgroup.push(selectedindex);
			selectedgroup.sort((a, b) => a - b);
		}
		else
		{
			//alert ("deselecteren: "+e.options[selectedindex].text+"met default:"+"{defaultusergroup}");
			if (e.options[selectedindex].text!=defaultusergroup && !(e.options[selectedindex].text==admin && ownuser))
			{
				//alert ("deselecteer:"+ptr);
				selectedgroup.splice(ptr,1);
				e.options[ selectedindex ].selected = false;
			}
		}
		$.each(selectedgroup,function(i,indexval){e.options[ indexval ].selected = true;});
	}; 
	function getpermissions(){
		usergrp=$('#usergroup').val().toString();
		//alert("getpermissions usergrp:"+usergrp);
		//$("#resultingpermissions").text("resultingpermissions:"+usergrp);
		$.ajax({
			url: "index.php?eID=usergrouppermissions",
			data: {
				"usergroup": usergrp,
			},
			type: "POST",
			success: function (permissions, textStatus, jqXHR) {
				// replace permissions:
				$("#resultingpermissions").html(permissions);
				//alert("Error success: taken:" + taken+"; status:"+result["status"]+"; result:"+result);
			},
			error: function (data, textStatus, jqXHR) {
	            alert("Error failaure: " + jqXHR.status + ": " + jqXHR.statusText+"; text:"+textStatus);
			},
		});
	}
/*$("#usergroup option[value='1']").attr('disabled','disabled'); */
//if (ownuser){ $("#usergroup option:contains("+admin+")").attr('disabled','disabled');}

</script>
	<!--TYPO3SEARCH_begin-->
<script type="text/javascript">
	window.onload = function () {
		multiSelect("usergroup");
	 	scroll_selected("usergroup");
  	};
</script>
			

</f:section>
</html>
