<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<!--
	=====================
		Templates/usergroup/SelectedList.html
-->

<f:section name="content">
	<!--TYPO3SEARCH_end-->
	<f:if condition="{usergroup}">
		<h5 ><f:if condition="{usergroup.used}<1"><f:then><f:translate key="newusergroup_title" /></f:then><f:else><f:translate key="editusergroup_title" /></f:else></f:if></h5>
		<f:form action="saveUsergroup" object="{usergroup}" name="usergroup" id="saveForm" additionalAttributes="{autocomplete: 'off'}" >   
		<f:form.hidden id="stack" name="stack" value="{stack}"/>						
		<f:form.hidden name="no_cache" value="1"/>
		<f:form.hidden property="uid" />
		<div class="row">
			<div class="col-sm-2 mr-2"> 
				<label for="usergroup-naam" class="font-weight-bold"><f:translate key="title" /></label>
			</div>
			
			<div class="col">
			<f:if condition='{usergroup.title}=={defaultusergroup}'>
				<f:then>
				<f:form.textfield class="form-control" id="usergroup-naam" property="title"  required="true" readonly="true"  />
				</f:then>
			<f:else>	
				<f:form.textfield class="form-control" id="usergroup-naam" property="title"  required="true"  />
			</f:else>
			</f:if>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 mr-2"> 
				<label for="usergroup-description" class="font-weight-bold"><f:translate key="description" /></label>
			</div>
			<div class="col"><f:form.textfield class="form-control" id="usergroup-description" property="description"  /></div>
		</div>
		<fieldset class="form-group border-primary border-1 pl-2"><legend class="w-auto text-primary"><f:translate key="persoon.functionalityselect" /></legend>
			<div class="row">
				<div class="col form-group">
					<f:form.select id="functionality" multiple="true" property="function_uids" size="16" options="{functionalityoption}"  onclick="boxchange(this,selectedfunctionality);" />
				</div>
			</div>
		</fieldset>
		<div class="btn-toolbar mt-5">
			<f:if condition="{usergroup.title}!=={admingroup}">
				<f:form.submit additionalAttributes="{action: 'save'}" class="btn btn-primary mr-1" value="{f:translate(key:'changesave_button_label')}" title="{f:translate(key:'changesave_title')}" /> 
			</f:if>
			</f:form>
			<f:if condition="{usergroup.used}<1 && {usergroupid} && {usergroup.title}!=={admingroup} && {usergroup.title}!=={defaultusergroup}">
				<f:then>
					<f:form action="deleteUsergroup" name="usergroup" id="deleteForm">
					<f:form.hidden id="stack" name="stack" value="{stack}"/>
					<f:form.hidden name="no_cache" value="1"/>
					<f:form.hidden name="uid" value ="{usergroup.uid}"/>
					<f:form.submit class="btn btn-primary mr-1" value="{f:translate(key:'delete_button_label')}" title="{f:translate(key:'persoon.usergroup')} {f:translate(key:'delete_button_label')}" /> 
					</f:form>
				</f:then>
			</f:if>
			<f:form action="{return}" name="search" id="returnForm">
			<f:form.hidden id="stack" name="stack" value="{stack}"/>
			<f:form.hidden name="no_cache" value="1"/>
			<f:form.submit class="btn btn-primary mr-1" value="{f:translate(key:'return_button_label')}"/> 
			</f:form>
			<f:form action="selectedListFunction" name="functionsearch" id="functionForm">
			<f:form.hidden id="stack" name="stack" value="{stack}"/>
			<f:form.hidden name="no_cache" value="1"/>
			<f:form.button class="btn border-0 mr-2"  title="{f:translate(key:'function_select')}">
				<img src="{f:uri.resource(path:'Icons/functionalities.png', extensionName: 'parousiazoetermeer')}"alt="" style="height:30px">
			</f:form.button> 
			</f:form>
		</div>
	
	</f:if>		
<script language="JavaScript">
	$ = jQuery.noConflict();
	var selectedfunctionality = [];
	$('#functionality option:selected').each(function(){ selectedfunctionality.push($(this).index()); });
	
	boxchange = function(e,selectedgroup)
	{
		var selectedindex = e.selectedIndex;
		//check if new selected:
		ptr=selectedgroup.indexOf(selectedindex);
        if (ptr<0)
		{
			selectedgroup.push(selectedindex);
			selectedgroup.sort((a, b) => a - b);
		}
		else
		{
			selectedgroup.splice(ptr,1);
			e.options[ selectedindex ].selected = false;
		}
		$.each(selectedgroup,function(i,indexval){e.options[ indexval ].selected = true;	});
	}; 

</script>
	<!--TYPO3SEARCH_begin-->
<script type="text/javascript">
	window.onload = function () {
		multiSelect("functionality");
	 	scroll_selected("functionality");
  	};
</script>
			

</f:section>
</html>
