<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
<!--
	=====================
		Templates/Persoon/SearchForm.html
-->

<f:section name="content">
<script language="JavaScript">
$ = jQuery.noConflict();
var downloadfile = "{downloadfile}";
//$(window).load(function() {
$(document).ready(function() {
	//alert('downloadfile:'+downloadfile);
	if (downloadfile && downloadfile !='') window.open(downloadfile,"_parent");
});
</script>
<div class="clearfix">
	<div class="row float-right">
		<f:form.button  class="btn-link text-primary border-0 bg-white mr-2" title="{f:translate(key:'permission.searchtips')}" 
		onclick='window.open("{f:uri.resource(path:\'EXT:churchauthreg/Resources/Public/Documents/searchtips.htm\')}",null,"width=600,height=700,resizable=yes,scrollbars=yes,title=no,status=no,toolbar=no,menubar=no,location=no")' >
		<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-question-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
	  	<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
	  	<path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
		</svg>
    	</f:form.button>
		<f:form action="overview">
		<f:form.hidden id="stack" name="stack" value="{stack}"/>
		<f:form.button class="btn-link text-primary border-0 bg-white mr-2"  title="{f:translate(key:'overviewtitle')}" >
		<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-download" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		<path fill-rule="evenodd" d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z"/>
		<path fill-rule="evenodd" d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z"/>
		<path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z"/>
		</svg>
		</f:form.button>
		</f:form>

		<f:form action="selectedList" object="{search}" name="search" pageUid="{settings.listPid}">
		<f:form.hidden id="stack" name="stack" value="{stack}"/>
		<f:form.button  type="submit" class="btn-link text-primary border-0 bg-white" title="{f:translate(key:'search_button_label')}" >
			<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  			<path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
  			<path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
			</svg>
		</f:form.button>
	</div>
</div>
<div class="form-group">		
	<f:translate key="searchheader" />:
	<f:form.textfield property="general" class="form-control" type="search" title="{f:translate(key:'searchtip')}" 
	placeholder="Geef deel van rubrieken van autorisatieprofiel"/>
</div>
</f:form>
</f:section>
</html>