<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<!--
	=====================
		Templates/Persoon/SelectedList.html
-->

<f:section name="content">
	<!--TYPO3SEARCH_end-->
<script language="JavaScript">
$ = jQuery.noConflict();
var downloadfile = "{downloadfile}";
//$(window).load(function() {
$(document).ready(function() {
	//alert('downloadfile:'+downloadfile);
	if (downloadfile && downloadfile !='') window.open(downloadfile,"_parent");
});
</script>
	<f:if condition="{functionalities}">
		<f:then>
		<f:form action="detailFunctionality"  name="search" id="detailForm">
		<f:form.hidden name="f_uid" id="detailFormpid"/>
		<f:form.hidden name="no_cache" value="1"/>
		<f:form.hidden id="stack" name="stack" value="{stack}"/>
		<div class="float-right">
			<f:form.button class="btn text-primary newfunction border-0" title="{f:translate(key:'persoon.new')}" title="{f:translate(key:'newfunction_title')}"><i class="fa fa-plus fa-lg"></i></f:form.button>
		</div>
		<div class="row"><div class="col-12">{functionalities->f:count()} {f:translate(key:'function_button_label')} {f:translate(key:'found')}:</div></div>
		<div class="d-none d-sm-block">
			<div class="row">
			    <div class="col font-weight-bold text-wrap text-left p-0">{f:translate(key:'function_button_label')}</div>
			    <div class="col text-wrap font-weight-bold">{f:translate(key:'securitylevel')}</div>
			    <div class="col text-wrap text-left font-weight-bold">{f:translate(key:'used')} {f:translate(key:'usergroup_button_label')}</div>
			</div>
			<f:for each="{functionalities}" as="Functionality" iteration="Functionalityindex">
				<div class="row {f:if(condition:Functionalityindex.isEven,then:'alternate-row')} ">
				    <div class="col">
						<f:form.submit value="{Functionality.naam}" id="ps_{Functionality.f_uid}" title="{Functionality.omschrijving}" class="functionalitieselect text-wrap text-left btn btn-link pl-0" />
					</div>
				    <div class="col text-wrap  text-left"><f:translate key="{Functionality.securitylevel}" /></div>
				    <div class="col text-wrap text-left">{Functionality.used}</div>
				</div>
			</f:for>
		</div>
		<div class="d-block d-sm-none">
		<ul>
			<f:for each="{functionalities}" as="Functionality" iteration="Functionalityindex">
				<li class="{f:if(condition:Functionalityindex.isEven,then:'alternate-row')} "><f:form.submit value="{Functionality.naam}" id="ps_{Functionality.f_uid}" title="{Functionality.omschrijving}" class="functionalitieselect btn btn-link p-0" />
				</br><span class="font-italic text-info">{f:translate(key:'securitylevel')}:</span>&nbsp;<f:translate key="{Functionality.securitylevel}" />
				</br><span class="text-wrap text-left"><span class="font-italic text-info">{f:translate(key:'used')} {f:translate(key:'usergroup_button_label')}:</span>&nbsp;{Functionality.used}</span>
				</li>
			</f:for>
		</ul>
		</div>		
		</f:form>
		<p>&nbsp;</p>
		<div>
		<f:form action="{return}" name="search" id="returnForm">
		<f:form.hidden id="stack" name="stack" value="{stack}"/>
		<f:form.hidden name="no_cache" value="1"/>
		<f:form.submit class="btn btn-primary" value="{f:translate(key:'return_button_label')}"/> 
		</f:form>
		</div>
		</f:then>
		<f:else>
			<table style="width:100%"><tr><td><f:translate key="list_nonfunctionalitiesfound" /></td></tr></table>
		</f:else>
	</f:if>
	
	<script>
	$ = jQuery.noConflict();
	
	$(".functionalitieselect").click( function(event){
		var targetid = event.target.id
		var fegroupid=targetid.substring(3);
	$("#detailFormpid").val(fegroupid);
	});

		
	$(".newfunction").click( function(event){
	$("#detailFormpid").val(0);
	});

	</script>
</f:section>
</html>
