<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<!--
	=====================
		Templates/Persoon/SelectedList.html
-->

<f:section name="content">
	<!--TYPO3SEARCH_end-->
<script language="JavaScript">
$ = jQuery.noConflict();
var downloadfile = "{downloadfile}";
//$(window).load(function() {
$(document).ready(function() {
	//alert('downloadfile:'+downloadfile);
	if (downloadfile && downloadfile !='') window.open(downloadfile,"_parent");
});
</script>
	<div class="clearfix">
		<div class="float-left">
		<f:form action="searchUser" name="search" id="returnForm">
		<f:form.hidden id="stack" name="stack" value="{stack}"/>
		<f:form.hidden name="no_cache" value="1"/>
		<f:form.submit class="btn btn-link p-0" value="{f:translate(key:'returntosearch')}"/> 
		</f:form>
		</div>
		<div class="float-right">
			<f:form action="export">
			<f:form.hidden id="stack" name="stack" value="{stack}"/>
			<f:form.button  class="btn-link text-primary border-0 bg-white" title="{f:translate(key:'exporttitle')}">	
				<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-download" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z"/>
				<path fill-rule="evenodd" d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z"/>
				<path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z"/>
				</svg>
			</f:form.button>
			</f:form>
		</div>
		<div class="float-right">
		<f:form action="selectedListUsergroup" name="search" id="usergroupForm">
		<f:form.hidden id="stack" name="stack" value="{stack}"/>
		<f:form.hidden name="no_cache" value="1"/>
		<f:form.button class="btn text-primary border-0 mr-2" title="{f:translate(key:'usergroup_select')}"><i class="fa fa-users fa-lg"></i></f:form.button>
		</f:form>
		</div>		
		<div style="float:right">
		<f:form action="selectedListFunction" name="functionsearch" id="functionForm">
		<f:form.hidden id="stack" name="stack" value="{stack}"/>
		<f:form.hidden name="no_cache" value="1"/>
		<f:form.button class="btn border-0 mr-2"  title="{f:translate(key:'function_select')}">
			<img src="{f:uri.resource(path:'Icons/functionalities.png', extensionName: 'parousiazoetermeer')}" alt="" style="height:30px">
		</f:form.button> 
		</f:form>
		</div>		
	</div>
	<f:if condition="{persons}">
		<f:then>
		<div class="row"><div class="col-12">De volgende {persons->f:count()} {f:translate(key:'users')} {f:translate(key:'found')}:</div></div>
		<f:form action="detailUser"  name="search" id="detailForm">
		<f:form.hidden name="personid" id="detailFormpid"/>
		<f:form.hidden id="stack" name="stack" value="{stack}"/>
		<f:form.hidden name="no_cache" value="1"/>
		<div class="row">
		    <div class="col font-weight-bold">{f:translate(key:'persoon.naam')}</div>
		    <div class="col font-weight-bold">{f:translate(key:'persoon.adres')}</div>
		    <div class="col font-weight-bold">{f:translate(key:'persoon.username')}</div>
		</div>
		<f:for each="{persons}" as="person" iteration="personindex">
			<div class="row {f:if(condition:personindex.isEven,then:'alternate-row')} ">
			    <div class="col">
					<f:form.submit value="{person.naam}" id="ps_{person.personuid}" class="personselect text-wrap text-left btn btn-link pl-0" />
				</div>
			    <div class="col text-wrap">
					{person.straatnaam} {person.huisnummer} {person.postcode} {person.woonplaats}
				</div>
			    <div class="col text-truncate">
					{person.username}
				</div>
			</div>
		</f:for>
		</f:form>
		<p>&nbsp;</p>
		<div>
		<f:form action="searchUser" name="search" id="returnForm">
		<f:form.hidden id="stack" name="stack" value="{stack}"/>
		<f:form.hidden name="no_cache" value="1"/>
		<f:form.submit class="btn btn-link" value="{f:translate(key:'returntosearch')}"/> 
		</f:form>
		</div>
		</f:then>
		<f:else>
			<div class="row"><f:translate key="list_nonpersonsfound" /></div>
		</f:else>
	</f:if>
	
	<script>
	$ = jQuery.noConflict();
	
	$(".personselect").click( function(event){
		var targetid = event.target.id
		var personid=targetid.substring(3);
	$("#detailFormpid").val(personid);

	});

	</script>
</f:section>
</html>
