<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<!--
	=====================
		Templates/Persoon/SelectedList.html
-->

<f:section name="content">
	<!--TYPO3SEARCH_end-->
<script language="JavaScript">
$ = jQuery.noConflict();
var downloadfile = "{downloadfile}";
//$(window).load(function() {
$(document).ready(function() {
	//alert('downloadfile:'+downloadfile);
	if (downloadfile && downloadfile !='') window.open(downloadfile,"_parent");
});
</script>
	<f:if condition="{usergroups}">
		<f:then>
		<f:form action="detailUsergroup"  name="search" id="detailForm">
		<f:form.hidden name="fegroupid" id="detailFormpid"/>
		<f:form.hidden name="no_cache" value="1"/>
		<f:form.hidden id="stack" name="stack" value="{stack}"/>
		<div class="clearfix">
			<div class="float-right">
				<f:form.button class="btn text-primary border-0 newgroup" title="{f:translate(key:'newusergroup_title')}"><i class="fa fa-plus fa-lg"></i></f:form.button>
			</div>
		</div>
		<div class="row"><div class="col-12">{usergroups->f:count()} {f:translate(key:'usergroup_button_label')} {f:translate(key:'found')}:</div></div>
		<div class="d-none d-sm-block">
			<div class="row">
			    <div class="col font-weight-bold">{f:translate(key:'persoon.usergroup')}</div>
			    <div class="col font-weight-bold">{f:translate(key:'persoon.used')} {f:translate(key:'persoon')}</div>
			    <div class="col font-weight-bold">{f:translate(key:'pageaccess')}</div>
			</div>
			<f:for each="{usergroups}" as="usergroup" iteration="usergroupindex">
				<div class="row {f:if(condition:usergroupindex.isEven,then:'alternate-row')} ">
				    <div class="col">
						<f:form.submit value="{usergroup.title}" id="ps_{usergroup.uid}" title="{usergroup.description}" class="usergroupselect text-wrap text-left btn btn-link pl-0" />
					</div>
				    <div class="col text-wrap">
						{usergroup.used}
					</div>
				    <div class="col text-wrap text-left">
						{usergroup.pageaccess}
					</div>
				</div>
			</f:for>
		</div>
		<div class="d-block d-sm-none">
			<ul>
			<f:for each="{usergroups}" as="usergroup" iteration="usergroupindex">
				<li class="{f:if(condition:usergroupindex.isEven,then:'alternate-row')} "><f:form.submit value="{usergroup.title}" id="ps_{usergroup.uid}" title="{usergroup.description}" class="usergroupselect btn btn-link pl-0" />
				</br><span class="text-wrap text-left"><span class="font-italic text-info">{f:translate(key:'persoon.used')} {f:translate(key:'persoon')}:</span>&nbsp;{usergroup.used}</span>
				</br><span class="text-wrap text-left"><span class="font-italic text-info">{f:translate(key:'pageaccess')}:</span>&nbsp;{usergroup.pageaccess}</span>
				</li>
			</f:for>
			</ul>
		</div>		

		</f:form>
		<p>&nbsp;</p>
		<div>
		<f:form action="{return}" name="search" id="returnForm">
		<f:form.hidden id="stack" name="stack" value="{stack}"/>
		<f:form.hidden name="no_cache" value="1"/>
		<f:form.submit class="btn btn-primary" value="{f:translate(key:'return_button_label')}"/> 
		</f:form>
		</div>
		</f:then>
		<f:else>
			<div class="row"><f:translate key="list_nonusergroupsfound" /></div>
		</f:else>
	</f:if>
	
	<script>
	$ = jQuery.noConflict();
	
	$(".usergroupselect").click( function(event){
		var targetid = event.target.id
		var fegroupid=targetid.substring(3);
	$("#detailFormpid").val(fegroupid);
	});
	
	$(".newgroup").click( function(event){
	$("#detailFormpid").val(0);
	});

	</script>
</f:section>
</html>
